@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.ttf');
}

body {
    padding: 0;
    margin: 0;
    background-color: #A4DDD0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: 'Roboto', Arial, sans-serif;
    color: #00415E;
}

body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    outline: none;
    border: none;
}

#mainframe {
    width: 100%;
    margin: auto;
    background-color: #A4DDEA;
    height: 100%;
    overflow-y: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#mainframe::-webkit-scrollbar {
    display: none;
}


/* LANGUAGE */

.lang-btn {
    display: inline-block;
    background-color: burlywood;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}


/* MENU  */

#menu {
    /* background-color: bisque; */
    background-image: url('images/background.jpg');
    background-size: cover;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

#menu.visible {
    display: block;
}

.topic {
    background-color: burlywood;
    position: absolute;
    padding: 10px;
}

.topic-1 {
    top: 15%;
    left: 10%;
}

.topic-2 {
    top: 40%;
    right: 10%;
}

.topic-3 {
    top: 75%;
    left: 40%;
}


/* GALLERY  */

.gallery {
    position: relative;
    width: 1200px;
    /* margin: auto; */
    margin: 100px auto;
    background-color: #A4DDEA;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 100px;
    opacity: 0;
}

.gallery.visible {
    display: grid;
}

.gallery-title {
    position: fixed;
    height: 50px;
    line-height: 50px;
    top: 0;
    padding: 15px 0;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    width: 1200px;
    font-size: 25px;
    background-color: #A4DDEA;
    text-align: center;
    z-index: 100;
}

.gallery-back {
    position: absolute;
    left: 0px;
    height: 50px;
    line-height: 50px;
}

.video-cell {
    width: 100%;
    /* height: 80%; */
    margin: auto;
    position: relative;
}

.video-preview {
    position: relative;
    width: 100%;
    background-color: #00415E;
    padding: 5px 0;
}

.video-snapshot {
    width: 100%;
    /* object-fit: contain; */
    filter: sepia(100%) hue-rotate(140deg) saturate(190%);
    display: block;
}

.video-play {
    width: 65px;
    position: absolute;
    left: calc(50% - 37px);
    top: calc(50% - 37px);
}

.video-legend {
    padding: 5px 0;
    /* background-color: #A4DDEA; */
}


/* PLAYER  */

#player {
    background-color: black;
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
}

#player.visible {
    display: block;
}

.mediaplayer {
    width: 100%;
    height: 100%;
}

.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #A4DDEA;
}

.progress .bar {
    height: 100%;
    width: 0%;
    background-color: #00415E;
}

.close {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 50px;
    height: 50px;
}

.close:before,
.close:after {
    position: absolute;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: #A4DDEA;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}