@font-face {
    font-family: 'GGcanut-bold';
    src: url('fonts/GGcanut_Extra-Bold.otf');
}

@font-face {
    font-family: 'GGcanut-medium';
    src: url('fonts/GGcanut_Medium.otf');
}

@font-face {
    font-family: 'GGcanut-regular';
    src: url('fonts/GGcanut_Regular.otf');
}

body {
    padding: 0;
    margin: 0;
    background-color: #A4DDD0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-family: 'GGcanut-bold', Arial, sans-serif;
    font-size: 22px;
    color: #00415E;
}

body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    outline: none;
    border: none;
}

#mainframe {
    width: 100%;
    margin: auto;
    background-color: #A4DDEA;
    height: 100%;
    overflow-y: auto;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#mainframe::-webkit-scrollbar {
    display: none;
}


/* LANGUAGE */

.lang-btn {
    display: inline-block;
    background-color: burlywood;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}


/* MENU  */

#menu {
    /* background-color: bisque; */
    background-image: url('media/accueil.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

#menu.visible {
    display: block;
}

.topic {
    background-color: transparent;
    position: absolute;
    padding: 10px;
    opacity: 1;
    height: auto;
}


/* GALLERY  */

.gallery {
    position: relative;
    width: calc(100% - 200px);
    /* margin: auto; */
    margin: 175px auto;
    background-color: #A4DDEA;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    column-gap: 170px;
    opacity: 0;
}

.gallery.visible {
    display: grid;
}

.gallery-title {
    position: fixed;
    height: 65px;
    line-height: 65px;
    top: 0;
    padding: 60px 0 25px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    width: calc(100% - 200px);
    font-size: 25px;
    background-color: #A4DDEA;
    text-align: center;
    z-index: 100;
}

.title,
.subtitle {
    line-height: 30px;
}

.subtitle {
    font-family: 'GGcanut-regular', Arial, sans-serif;
}

.gallery-back {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 65px;
    line-height: 65px;
    opacity: 1;
}

.video-cell {
    width: 100%;
    /* height: 80%; */
    margin: auto;
    position: relative;
}

.video-preview {
    position: relative;
    width: 100%;
    background-color: #00415E;
    padding: 5px 0;
}

.video-snapshot {
    width: 100%;
    /* object-fit: contain; */
    filter: sepia(100%) hue-rotate(140deg) saturate(190%);
    display: block;
}

.video-play {
    width: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.video-legend {
    padding: 5px 0;
    /* background-color: #A4DDEA; */
}


/* PLAYER  */

#player {
    background-color: black;
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
}

#player.visible {
    display: block;
}

.mediaplayer {
    width: 100%;
    height: 100%;
}

.progress {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #A4DDEA;
}

.progress .bar {
    height: 100%;
    width: 0%;
    background-color: #00415E;
}

.close {
    position: absolute;
    right: 100px;
    top: 60px;
    opacity: 1;
}